<div class="bg-white text-gray-900 py-16">
  <div class="container mx-auto text-center py-8 px-4  max-w-screen-xl sm:py-16 lg:px-6">
    <!-- Title -->
    <h2 class="text-3xl md:text-4xl font-bold">We didn't reinvent the wheel</h2>
    <p class="mt-4 text-gray-600 max-w-2xl mx-auto">
      We are strategists, designers and developers. Innovators and problem solvers.
      Small enough to be simple and quick, but big enough to deliver the scope you want
      at the pace you need.
    </p>
    
    <!-- Gallery Grid -->
    <div class="grid grid-cols-2 md:grid-cols-4 gap-4 mt-10">
      <div class="col-span-2">
        <img src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/content/office-long-2.png" class="w-full h-96 object-cover rounded-lg">
      </div>
      <div>
        <img src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/content/office-long-2.png" class="w-full h-96 object-cover rounded-lg">
      </div>
      <div>
        <img src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/content/office-long-2.png" class="w-full h-96 object-cover rounded-lg">
      </div>
      <div>
        <img src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/content/office-long-1.png" class="w-full h-96 object-cover rounded-lg">
      </div>
      <div>
        <img src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/content/office-long-1.png" class="w-full h-96 object-cover rounded-lg">
      </div>
      <div class="col-span-2">
        <img src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/content/office-long-1.png" class="w-full h-96 object-cover rounded-lg">
      </div>

    </div>
  </div>
</div>
