<div class="py-20 px-5">
    <div class="grid grid-cols-1 lg:grid-cols-2 items-start gap-12 max-w-7xl mx-auto">
      <!-- Left Side (Title) -->
      <div class=" flex flex-col justify-center h-full space-y-5">
        <span class="text-orange-600 text-lg">Décorateur événementiel</span>
        <h2 class="text-3xl sm:text-5xl font-bold mb-4 uppercase sm:leading-snug">
            Quelles prestations du décorateur événementiel ?
        </h2>
        <span class="w-1/4 h-1 bg-orange-600"></span>
      </div>
      <!-- Right Side (Description) -->
      <div class="text-base secondaryfont text-gray-700 leading-relaxed">
    
        <p>
          Quelle que soit l'occasion, une fête de mariage, d'anniversaire, ou un événement professionnel, transformer et réaménager le cadre de votre événement est d'une importance capitale. Pour bénéficier d'un tel service, et pour que votre événement soit mémorable, il convient de se tourner vers un partenaire expérimenté dans le domaine de la décoration événementielle, c'est-à-dire un wedding designer ou une <span class="text-orange-600">agence de conseil événementiel.</span> Son expertise dans le domaine et sa réactivité lui permettront d'aménager n'importe quel espace, conformément aux envies de sa clientèle. Il veillera à instaurer une ambiance propice à la réussite de la cérémonie sans pour autant dépasser le budget attribué.
        </p>
      </div>
    </div>
  </div>
  