@media (max-width: 768px) {
    .w-64 {
      width: 16rem;
    }
  
    .w-16 {
      width: 4rem;
    }
  
    .ml-64 {
      margin-left: 16rem;
    }
  
    .ml-16 {
      margin-left: 4rem;
    }
  }
  