<div class=" mx-auto p-6 py-20 max-w-7xl ">
    <!-- Title Section -->
    <div class="text-center mb-12">
      <h2 class="text-3xl sm:text-5xl font-bold mb-4 uppercase sm:leading-snug">
        LES COMPÉTENCES DU DÉCORATEUR ÉVÉNEMENTIEL
      </h2>
      <div class="w-1/3 h-1 bg-orange-600 mx-auto mt-2"></div>
    </div>
  
    <!-- First Section (Wedding Designer) -->
    <div class="flex flex-col lg:flex-row items-start mb-12">
      <div class="bg-black text-white p-8  flex-1 py-20">
        <h3 class="text-xl sm:text-3xl font-bold mb-4 uppercase sm:leading-snug">LA DE ET RÔLE DU WEDDING DESIGNER</h3>
        <p class="secondaryfont !text-white">
          Contrairement à la décoration intérieure qu'on conçoit pour bénéficier d'un confort quotidien, la DE est essentiellement éphémère d'autant qu'elle est dédiée aux lieux festifs. Le but, étant de susciter de fortes stimulations sensorielles avec accessoires, couleurs et éclairage, l’intervention d’un décorateur événementiel est inhérente à la réussite de nos événements.
        </p>
      </div>
      <div class="bg-orange-600 text-white p-8  flex-1 py-20">
        <h3 class="text-xl sm:text-3xl font-bold mb-4 uppercase sm:leading-snug">COMMENT DEVENIR DÉCORATEUR ÉVÉNEMENTIEL ?</h3>
        <p class="secondaryfont !text-white">
          Pour devenir un professionnel de la création d'événements, une formation dans le domaine de la décoration est requise. Plusieurs écoles proposent des BTS en design d'espace et d’agencement de l’environnement architectural ainsi que des formations en croquis, mobilier, textile et éclairage.
        </p>
      </div>
    </div>
  
    <!-- Second Section (Events) -->
    <div class="grid grid-cols-1 lg:grid-cols-2 items-start gap-12 max-w-7xl mx-auto py-20">
        <!-- Left Side (Title) -->
        <div class=" flex flex-col justify-center h-full space-y-5">
          <span class="text-orange-600 text-lg">Evénements</span>
          <h2 class="text-3xl sm:text-5xl font-bold mb-4 uppercase sm:leading-snug">
            Organisation, thèmes, décoration & faire-part
          </h2>
          <span class="w-1/4 h-1 bg-orange-600"></span>
        </div>
        <!-- Right Side (Description) -->
        <div class="text-base secondaryfont text-gray-700 leading-relaxed">
      
          <p>
            Un professionnel de la DE est souvent sollicité dans le but de créer une déco originale qui n’a jamais été faite auparavant pour un mariage, un baptême ou toute autre occasion. C’est une sorte de défi et pour le gagner il faut agir avec une grande vigilance et se montrer réactif. L’intelligence et le bon goût ne sont pas pas suffisants, il faut également faire des recherches et des études au préalable avant de s’engager dans la mise en place du projet. Une fois l’inspiration est là, le designer doit discuter avec son client pour avoir son consentement. Ensuite, il faut se mettre à travailler sur l’organisation, le choix des thèmes et la préparation des faire-part.          </p>
        </div>
      </div>
  </div>
  